* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 95%;
    margin-bottom: 70px;
    margin-left: 20px;
}

.brand{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}
.btn{
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}
.btnblue{
    background-color: rgb(84, 168, 246);
    border-color: rgb(84, 168, 246);
    color: white;
    padding: 5px;
    margin-left: 170px;
    margin-bottom: 20px;
}
.btn-white{
    background-color: white;
    color: rgb(226, 229, 232);
    border-color: rgb(226, 229, 232);
    padding: 5px;

}

.list{
    margin-left: 30%;
    
}

ul{
    list-style-type: none;
}
.greencheck{
    color: green;
    border-width:10px ;
}
.redcross{
    color: red;
}
.box{
    display: inline-block;
    margin: 10px;
    width: auto;
    height: auto;
    border-radius: 30%;
}
.edit{
    background-color: rgb(69, 171, 234);
}
.q1{
    background-color: rgb(156, 114, 228);
}
.rec{
    background-color: rgb(100, 192, 169);
}
.mob{
    background-color: rgb(242, 158, 51);
}
.web{
    background-color: rgb(216, 99, 161);
}
.sales{
    background-color:rgb(176, 201, 38) ;
}