* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

body {
    font-family: sans-serif;
}

.brand{
    font-size: 40px;
    font-weight: 800;
   vertical-align: middle;
}

.logo{
    vertical-align: middle;
}
main {
    background-color: rgb(246, 248, 249);
    padding-top: 40px;
    padding-bottom: 10px;
}

.main-container{
    margin: auto;
    padding: 20px;
    border-bottom: 2px solid rgb(246, 248, 249);
}

.white-content {
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    
}
.btn{
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    
}
.btnblue{
    background-color: rgb(84, 168, 246);
    border-color: rgb(84, 168, 246);
    color: white;
    padding: 5px;
    margin-left: 70px;
    margin-bottom: 20px;
}
.btn-white{
    background-color: white;
    color: rgb(226, 229, 232);
    border-color: rgb(226, 229, 232);
    padding: 5px;

}

.list{
    margin-left: 9%;
}

ul{
    list-style-type: none;
}
.arrow{
    font-size: 16px;
}
.greencheck{
    color: green;
    border:1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    
}
.redcross{
    color: red;
    border: 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 9px;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    
}
.box{
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}
li :last-child{
   margin-bottom: 20px;
}
.edit{
    background-color: rgb(69, 171, 234);
}
.q1{
    background-color: rgb(156, 114, 228);
}
.rec{
    background-color: rgb(100, 192, 169);
}
.mob{
    background-color: rgb(242, 158, 51);
}
.web{
    background-color: rgb(216, 99, 161);
}
.sales{
    background-color:rgb(176, 201, 38) ;
}